<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoViva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<body class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Autoviva</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link" href="/Produtos">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Sobre_a_loja">Sobre a loja
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Contato">Contato</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
   <h1>Seja bem vindo a Autoviva</h1>

   <p>Na AutoViva, a experiência de compra de veículos é transformada em um verdadeiro evento de prazer e inovação. Localizada no coração da cidade, nossa concessionária oferece uma ampla seleção dos mais recentes modelos de carros, desde os elegantes sedãs até os robustos SUVs e os esportivos de alta performance. Com um atendimento personalizado e uma equipe de consultores apaixonados por automóveis, garantimos que cada cliente encontre o veículo perfeito que atenda às suas necessidades e desejos. Além disso, nossos clientes têm acesso a uma variedade de serviços exclusivos, incluindo test-drives, financiamento facilitado e um centro de manutenção altamente qualificado.</p>

   <img src="https://th.bing.com/th/id/OIP.eP_Qm9s8V6aXbEq9VqWKwQHaFj?rs=1&pid=ImgDetMain" alt="">

   <p>A AutoViva não é apenas uma loja de carros; é um destino para entusiastas e famílias em busca de qualidade e confiança. Com uma filosofia centrada na transparência e na satisfação do cliente, nos empenhamos em oferecer preços competitivos e ofertas especiais que se ajustam ao seu orçamento. Nossa missão é tornar o processo de compra e manutenção de seu carro uma experiência descomplicada e prazerosa. Venha nos visitar e descubra por que a AutoViva é a escolha certa para quem valoriza excelência e inovação no universo automotivo.</p>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>