<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>"sobre_a_empresa": "Empresa X",</li>
    <li>"Data de Fundação: Agosto de 2024",</li>
    <li>"Missão: Nossa missão é oferecer soluções inovadoras em tecnologia para pequenas e médias empresas, facilitando a transformação digital e impulsionando o crescimento sustentável.",</li>
    <li>"Visão: Ser referência no mercado de tecnologia empresarial, reconhecida pela excelência em serviços e pelo impacto positivo em nossos clientes.",</li>
    <li>"Produtos/Serviços:Consultoria em TI: Oferecemos análise e planejamento estratégico para otimizar a infraestrutura tecnológica das empresas.",</li>
    <li>"Desenvolvimento de Software: Criamos softwares personalizados para atender às necessidades específicas dos nossos clientes.",</li>
    <li> "Serviços de Cloud: Fornecemos soluções em nuvem para armazenamento, segurança e gestão de dados.",</li><li>"Suporte Técnico: Equipe especializada para garantir o funcionamento contínuo e seguro dos sistemas.",</li><li>"Público-Alvo: Pequenas e médias empresas dos setores de comércio, serviços e indústria que buscam </li>inovação e eficiência em suas operações."

    </body>
    </html>

</body>
</html>