<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>exercicio 22</h1>
    <p>Faça uma função chamada concatena que receba duas strings, parte1 e parte2, como parâmetros, una-as em uma nova string e retorne essa nova string.</p>
    <form method="POST">
        {% csrf_token %}
        <br><input type="text" name="parte1"></br>
        <br><input type="text" name="parte2"></br>
        <br><button type="submit">Enviar</button>
    </form>
    
    {% if nova_string %}
        <h2>O resultado é: {{nova_string}}</h2>
    {% endif %}

    <br><a href="{% url 'home' %}">Lista de exercicios</a></br>
</body>
</html>