<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>exercicio 26</h1>

    <p>Faça uma função chamada media que receba quatro números como argumentos e retorne a média desses números.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="valor1">
        <input type="number" name="valor2">
        <input type="number" name="valor3">
        <input type="number" name="valor4">
        <button type="submit">Enviar</button>
    </form>

    {% if media %}
        <h2>a media desses numeros é: {{media}}</h2>
    {% endif %}

    <br><a href="{% url 'home' %}">Lista de exercicios</a></br>
</body>
</html>